* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  overflow-y: scroll;
}

body {
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/pictures/landingPage/pirka.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-family: "Libre Baskerville", serif;
}

.bold {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}
.cursive {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}
p {
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
}
.svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.svg:hover {
  fill: #ffd700;
  stroke: #ffd700;
}


/* a:hover > svg * { */
svg:hover {
  fill: #ffd700;
  stroke: #ffd700;
}
.contact {
  cursor: pointer;
}
.contact:hover {
  text-align: center;
  color: #ffd700;
  transition: 0.5s ease-in-out;
  transform: scale(2);
}

.selected-page {
  background-color: #ffd700;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: #ffd700 2px solid;
  border-radius: 10px;
}
.selected-page link:hover {
  color: rgb(65, 10, 73);
}

@media screen and (max-width: 645px) {
  .selected-page {
    display: none;
    display: hidden;
    width: 0px;
  }
}
@media screen and (max-width: 550px) {
  .box {
    width: 95%;
  }
  .close-icon {
    position: relative;
    left: 0px;
    top: calc(100vh - 100vh);
  }
}

.hovertext:before {
  /*   position: relative; */
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  width: 140px;
  background-color: rgb(65, 10, 73);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 2s ease-in-out;
  transform: translateY(60px);
  position: absolute;
  z-index: 1;
}
.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
